.cache/
.idea/
**/__pycache__
*.pyc
.hypothesis
build/
dist/
*.egg-info/
.~lock.*
examples/data/*.pickle
!examples/data/lda_evaluation_finalmodel.pickle
!examples/data/bt18_sample_1000.pickle
**/.ipynb_checkpoints/
.pytest_cache/
.covreport/
