attrs==18.1.0
backports.functools-lru-cache==1.5
boto==2.48.0
boto3==1.7.26
botocore==1.10.26
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
coverage==4.5.1
cycler==0.10.0
docutils==0.14
enum34==1.1.6
et-xmlfile==1.0.1
funcy==1.10.2
future==0.16.0
futures==3.2.0
gensim==3.4.0
globre==0.1.5
gmpy2==2.0.8
hypothesis==3.36.0
idna==2.6
jdcal==1.4
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
kiwisolver==1.0.1
lda==1.0.5
MarkupSafe==1.0
matplotlib==2.2.2
nltk==3.2.5
numexpr==2.6.5
numpy==1.13.3
olefile==0.45.1
openpyxl==2.4.9
pandas==0.21.0
Pattern==2.6
pbr==4.0.3
Pillow==4.3.0
py==1.5.3
pyLDAvis==2.1.1
pyparsing==2.2.0
Pyphen==0.9.4
pytest==3.2.3
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
smart-open==1.5.7
subprocess32==3.5.1
urllib3==1.22
