gensim==3.5.0
globre==0.1.5
gmpy2==2.0.8
hypothesis==3.71.8
lda==1.1.0
matplotlib==2.2.3
nltk==3.3
numpy==1.15.1
openpyxl==2.5.7
pandas==0.23.4
Pattern==3.6
pyLDAvis==2.1.2
Pyphen==0.9.5
pytest==3.8.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
wordcloud==1.5.0