# requirements.txt
#
# installs dependencies from ./setup.py, and the package itself,
# in editable mode for development

-e .[all]

# don't forget to install the language models too via:
# python tmtoolkit setup de,el,en,es,fr,it,lt,nb,nl,pt
