gensim==3.0.1
gmpy2==2.0.8
hypothesis==3.36.0
lda==1.0.5
matplotlib==2.1.0
nltk==3.2.5
numpy==1.13.3
openpyxl==2.4.9
pandas==0.21.0
pyLDAvis==2.1.1
Pyphen==0.9.4
pytest==3.2.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
